<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Document</title>
</head>
   <body>
     <div class="all">
        <div class="leftSide">
            <img th:src="@{/img/financial_data.png}" alt="">
        </div>
        <div class="rightSide">
          
            <form method="post" action="curso.http" class="validation">
                <h1>Create Account</h1>
             <label>
               Your name: <br/>
               <input type="text" name="name" data-rules="required|min=2"/>
             </label>
             <label>
                 Email: <br/>
                <input type="email" name="email" />
              </label>
              <label>
                Password: <br/>
                <input type="password" name="password" data-rules="required|min=2" />
              </label>

              <input class="newb" type="submit" value="login" />

              <div class="footer">
                Already have an account? <a href="http://localhost:8080/login">Login</a>
              </div>

          </form>

        </div>
     </div>

     

    <script src="login.js"></script>   
   </body>
</html>